* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

#header {
    margin: 25px auto;
    text-align: center;
}

#container {
    margin: 25px auto;
    padding: 10px;
    width: 600px;
    text-align: center;
    background-color: var(--bg-cards);
    border-radius: 10px;
}

#container a {
    margin: 5px auto;
    color: var(--bg-techs);
    text-decoration: none;
}

.contain {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.container-box {
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    background-color: var(--bg-cards);
    display: flex;
    justify-content: center;
}

.container-result {
    margin: 0 auto;
    text-align: center;
}

input[type=button] {
    margin: auto 10px;
    padding: 5px 10px;
    background-color: var(--bg-cards);
    color: var(--text-color);
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

input[type=number] {
    margin: 0 10px;
    width: 100px;
    text-align: center;
    color: var(--bg-techs);
    background-color: var(--body-bg-color);
    border-radius: 10px;
}

/*Non-standart*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#result {
    margin: 25px auto;
    padding: 10px;
    width: 500px;
    border: 2px solid var(--bg-cards);
    border-radius: 10px;
}

